<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include("../includes/topbar.ejs") %>
    <%- include("../includes/navigation.ejs",{csrfToken:csrfToken}) %>
    <main style="padding-top: 1rem;">
        <%- include("../includes/message.ejs") %>
        <section class="py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h2><%= editing ? 'Edit Product':'Add product' %></h2>
                            </div>
                            <div class="form">
                                <form class="product-form"
                                    action="/admin/<% if(editing) { %>edit-product<% } else { %>add-product<% } %>"
                                    method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input class="form-control" type="text" name="title"
                                            value="<% if(editing ||  hasError ) { %><%= product.title %> <% } %>"
                                            id="title">
                                        <% if(validationErrors.find(e=>e.param == 'title')) { %>
                                        <p class="text-danger">
                                            <%= validationErrors.find(e=>e.param == 'title').msg %>
                                        </p>
                                        <% } %>
                                    </div>
                                    <div class="form-group">
                                        <label for="image">Main Image</label>
                                        <input type="file" name="image" id="image">
                                    </div>
                                    <div class="form-group">
                                        <label for="images">Other Images</label>
                                        <input type="file" name="images" id="images" multiple>
                                    </div>
                                    <div class="form-group">
                                        <label for="price">Price</label>
                                        <input class="form-control" type="number" name="price" id="price" step="0.01"
                                            value="<% if (editing || hasError) { %><%= product.price %><% } %>">
                                        <% if(validationErrors.find(e=>e.param == 'price')) { %>
                                        <p class="text-danger">
                                            <%= validationErrors.find(e=>e.param == 'price').msg %>
                                        </p>
                                        <% } %>
                                    </div>
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <select name="category" id="category" class="form-control">
                                            <option value="">Select a category</option>
                                            <% for(let category of categories){ %>
                                            <option value="<%= category._id %>"
                                                <%= ((editing || hasError) && (product.category && (product.category.toString() == category._id.toString()))) ? 'selected': ''%>>
                                                <%= category.title %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" name="description" id="description"
                                            rows="5"><% if(editing || hasError) { %><%= product.description %> <% } %></textarea>
                                        <% if(validationErrors.find(e=>e.param == 'description')) { %>
                                        <p class="text-danger">
                                            <%= validationErrors.find(e=>e.param == 'description').msg %>
                                        </p>
                                        <% } %>
                                    </div>
                                    <% if(editing) { %>
                                    <input type="hidden" value="<%= product.id %>" name="productId">
                                    <% } %>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

                                    <button class="btn btn-block" type="submit"> <% if (editing) { %> Edit Product
                                        <% } else { %> Add Product
                                        <% } %></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

    </main>
    <%- include("../includes/end.ejs") %>