<div class="text-xs-center">
    <ul class="pagination justify-content-center">
        <% if (currentPage !== 1 && previousPage !== 1) { %>
        <li class="page-item">
            <a class="page-link" href="<%= (pageSelected && (selectedCategory !== '' || sortOrder !== undefined)) ? url + '&page=1' :
            (pageSelected !== 1) ? url.replace(currentPage, 1) : '?page=1' %>">1</a>
        </li>
        <% } %>
        <% if (hasPreviousPage) { %>
        <li class="page-item">
            <a class="page-link"
                href="<%= (pageSelected && (selectedCategory !== '' || sortOrder !== undefined)) ? url + '&page=' + previousPage :
                    (currentPage !== previousPage) ? url.replace(currentPage, previousPage) : '?page=' + previousPage %>"><%= previousPage %></a>
        </li>
        <% } %>
        <li class="page-item active">
            <a class="page-link"
                href="<%= (pageSelected && (selectedCategory !== '' || sortOrder !== undefined)) ? url + '&page=' + currentPage : 
            (selectedCategory !== '' || sortOrder !== undefined) ? url :'?page=' + currentPage %>"><%= currentPage %></a>
        </li>
        <% if (hasNextPage) { %>
        <li class="page-item">
            <a class="page-link" href="<%= (pageSelected && (selectedCategory!== '' || sortOrder !== undefined)) ? url + '&page=' + nextPage : 
            (!pageSelected && currentPage !== nextPage) ? url.replace(currentPage, nextPage) :
           '?page=' + nextPage %>"><%= nextPage %></a>
        </li>
        <% } %>
        <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
        <li class="page-item">
            <a class="page-link" href="<%= (pageSelected && (selectedCategory !== '' || sortOrder !== undefined)) ? url +  '&page=' + lastPage : 
            (!pageSelected && currentPage !== lastPage) ? url.replace(currentPage, lastPage) :
            '?page=' + lastPage %>"><%= lastPage %></a>
        </li>
        <% } %>
    </ul>
</div>